.main-layout {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
}

.menu__content {
    width: 1200px;
    margin: auto;
}

.menu__logo {
    padding-left: 32px;
    float: left;
}

.menu__items {
    float: right;
}

.menu__items li {
    display: inline-block;
    padding: 20px 30px;
    letter-spacing: 1px;
    word-spacing: 5px;
}

.menu__items li a {
    color: inherit;
    text-decoration: none;
}

.block {
    width: 100%;
    min-height: 600px;
}

.background--mimica {
    background: url("images/pattern.png"), linear-gradient(to bottom, #fc5c34, #fc2a50) ;
    background-size: cover;
}

.block__content {
    width: 1200px;
    margin: auto;
}

.first-block {
    padding-top: 200px;
    padding-bottom: 100px;
}

.block__left {
    width: 50%;
    float: left;
    padding: 32px;
    box-sizing: border-box;
}

.block--description{
    padding-top: 70px;
}

.color--white {
    color: #FFFFFF;
}

.main-heading {
    font-size: 55px;
    line-height: 70px;
    font-weight: bold;
    padding: 10px 0 20px;
}

.main-description {
    line-height: 30px;
    padding-right: 100px;
}

.button {
    background: none;
    width: 200px;
    height: 50px;
    margin: 10px 20px 10px 0;
    border-radius: 25px;
    font-weight: 600;
    border-color: white;
    outline: none;
}

.buttons {
    margin-top: 50px;
}

.button--white {
    background: white;
    color: #fe3851;
}

.button--white::before {
    content: url("images/red-arrow.png");
    position: relative;
    left: -10px;
    top: 5px;
}

.button--transparent {
    background: transparent;
    color: white;
}

.button--transparent::before {
    content: url("images/white-arrow.png");
    position: relative;
    left: -10px;
    top: 5px;
}

.block__right {
    float: left;
    width: 50%;
}

.block--phone {
    height: 0;
    text-align: center;
}

.clearer {
    clear: both;
}