.main-layout {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 15px;
    box-sizing: border-box;
    transition: background-color 0.2s;
    z-index: 10;
}

.menu__content {
    width: 1200px;
    margin: auto;
}

.menu__logo {
    padding-left: 32px;
    float: left;
}

.menu__items {
    float: right;
}

.menu__items li {
    display: inline-block;
    padding: 15px 30px;
    letter-spacing: 1px;
    word-spacing: 5px;
}

.menu__items li a {
    color: inherit;
    text-decoration: none;
}

.block {
    width: 100%;
    min-height: 600px;
}

.background--mimica {
    background: url("images/pattern.svg"), linear-gradient(to bottom, #fc5c34, #fc2a50) ;
    background-size: cover;
    background-blend-mode: overlay;
}

.background--light-gray {
    background-color: #fafafa;
}

.block__content {
    width: 1200px;
    margin: auto;
}

.first-block {
    padding-top: 200px;
    padding-bottom: 100px;
}

.block__left {
    width: 50%;
    float: left;
    padding: 32px;
    box-sizing: border-box;
}

.block--description{
    padding-top: 70px;
}

.color--white {
    color: #FFFFFF;
}

.main-heading {
    font-size: 55px;
    line-height: 70px;
    font-weight: bold;
    padding: 10px 0 20px;
}

.main-description {
    line-height: 30px;
    padding-right: 100px;
}

.button {
    background: none;
    width: 200px;
    height: 50px;
    margin: 10px 20px 10px 0;
    border-radius: 25px;
    font-weight: 600;
    border-color: white;
    outline: none;
}

.buttons {
    margin-top: 50px;
}

.button--white {
    background: white;
    color: #fe3851;
}

.button--transparent {
    background: transparent;
    color: white;
}

.button__image {
    position: relative;
    left: -10px;
    top: 5px;
}

.block__right {
    float: left;
    width: 50%;
}

.block--phone {
    height: 0;
    text-align: center;
}

.block--phone img {
    width: 65%;
}

.clearer {
    clear: both;
}

.normal-padding {
    padding: 50px 0;
}

.block__header {
    padding: 0 32px;
}

h2.block-title {
    font-size: 48px;
    font-weight: 100;
    display: inline-block;
    padding: 32px 0;
    color: #bdbdbd;
}

.project-item {
    padding: 32px;
}

.project-item .project-item--icon {
    position: relative;
    max-width: 32px;
    top: 5px;
    left: -32px;
    float: left;
}

.project-item .project-item--text {
    padding: 0 32px;
}

.project-item .project-item--header {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    display: inline-block;
    margin-bottom: 20px;
    color: #707185;
}

.project-item .project-item--content {
    line-height: 20px;
    color: #4a4a4a;
}